html {
    height: 100%;
    overflow: hidden;
  }
  body {
    background: black;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  h1 {
    text-align: center;
  }

  .scene {
      width: 45%;
      height: 90%;
      margin: 5% 5% 5% 50%;

    perspective: 1000px;
  }

  .book {
    position: relative;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
  }

  .page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;

    transition: 1.5s transform;
    transform-style: preserve-3d;
    transform-origin: left center;
  }
  .front,
  .back {
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 10% 5% 5%;
    box-sizing: border-box;

    backface-visibility: hidden;
    background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
    background: linear-gradient(to bottom right, #fff, #ccc);
  }
  .back {
    transform: rotateY(180deg);
  }

  .page.active {
    z-index: 1;
  }
  .page.flipped {
    transform: rotateY(-180deg);
  }
  .page.flipped:last-of-type {
    z-index: 1;
  }

  p {
    margin: 0 0 0.1em;
    text-indent: 1em;
  }

  .qr {
    margin: 50px auto;
    max-width: 50%;
  }
  .qr img {
    display: block;
  }