{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>

{% if section.title == "TIL" %}
<p>
    While I work, I keep learning something new every day. Sometimes, what I've
    learnt doesn't come to use immediately or frequently. However, I've decided
    to document the learnings that interested me the most for my future self.
</br>
    You may find these posts not well written (bad sentence formations and
    spelling mistakes). That is intentional. It is to keep myself moving fast
    and to free myself for prefectionism.
</p>
{% endif %}

{% for year, posts in section.pages | group_by(attribute="year") %}
<ul class="posts flat">
    <h2 class="archive-year">{{ year }}</h2>
    {% for post in posts %}
    <li class="post">
        <div class="post-header">
            <div class="meta">
                <div class="date">
                    <span class="day">{{ post.day }}</span>
                    <span class="rest">{{ post.date | date(format='%B') }}</span>
                </div>
            </div>
            <div class="matter">
                <h4 class="title small">
                    <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
                </h4>
                <span class="description">
                    {{post.description}}
                </span>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock content %}