{% extends "base.html" %}

{% block content %}

<h2>Hallou</h2>

<section>
    <p>
        By profession, I do whatever it takes at <a href="https://snowmountain.ai" target="_blank">snowmountain.ai</a>.
    <p>
        Currently not reading anything. Trying to create more than I consume.
    </p>
    <p>
        Songs with great lyrics, an evening at the beach, and writing down help
        me detach, relax, and recharge.
    </p>
    <p>
        I've also written at <a href="https://medium.com/@nvinayvarma189" target="_blank">Medium</a> and <a
            href="https://roronoa189.wordpress.com/posts/" target="_blank">Wordpress</a>.
    </p>
</section>

{% endblock content %}