{% extends "base.html" %}

{% block content %}

<h2>Hallou</h2>

<section>
    <p>
        By profession, I do whatever it takes at <a href="https://snowmountain.ai" target="_blank">snowmountain.ai</a>. These days, I'm sticking to working out, clearing my bottomless
        reading list, <a href="/projects">hacking</a> around, practising <a href="/blog-tags/creative-writing/">creative writing</a>, playing badminton, watching a movie/anime, and hanging out with friends. 
    </p>
    <p>
        Currently reading
        <a href="https://www.goodreads.com/book/show/61153739" target="_blank">Outlive</a>.
    </p>
    <p>
        Songs with great lyrics, an evening at the beach, and writing down help
        me detach, relax, and recharge.
    </p>
    <p>
        This is my third attempt at having an online presence. Previously, I've
        written at <a href="https://medium.com/@nvinayvarma189" target="_blank">Medium</a> and <a
            href="https://roronoa189.wordpress.com/posts/" target="_blank">Wordpress</a>.
    </p>
</section>

{% endblock content %}