{% extends "base.html" %}

{% block content %}

<h2>Hallou</h2>

<section>
    <p>
        By profession, I do Product work at <a href="https://snowmountain.ai" target="_blank">snowmountain.ai</a>. In my spare time, I'm clearing my never ending
        todo/reading list. I like to <a href="/projects">hack</a> around
        any daily inconveniences.
    </p>
    <p>
        I consider myself to be curious and I have many fleeting interests. The few that stay
        constant are Software Engineering, Science, Efficiency, and Philosophy. Currently reading
        <a href="https://www.goodreads.com/book/show/44421460-before-the-coffee-gets-cold" target="_blank">Before the Coffee Gets Cold</a> and
        <a href="https://www.goodreads.com/book/show/61153739" target="_blank">Outlive</a>.
    </p>
    <p>
        Songs with great lyrics, an evening at the beach, and writing down help
        me detach, relax, and recharge.
    </p>
    <p>
        This is my third attempt at having an online presence. Previously, I've
        written at <a href="https://medium.com/@nvinayvarma189" target="_blank">Medium</a> and <a
            href="https://roronoa189.wordpress.com/posts/" target="_blank">Wordpress</a>.
    </p>
</section>

{% endblock content %}